* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: currentColor;
}

.col {
    padding: 1rem;
    min-height: 50px;
    
}

.purple {
    background-color: #9593e6;
    color: white;
}

img {
    width: 100%;
}

.card {
    padding: 1rem;
    background-color: #b5ddff;
    text-align: center;
    border-radius: 15px;   
}
/*
----------------- DEBUG 
*/

.border {
    border: 1px dashed red;
}



/* CLASSI SEMANTICHE */

/* -- Header */
header {
    background-color: #0084fd;
    color: white;   
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_menu-desktop {
    display: none;
}
.header_menu-desktop> ul {
    list-style: none;
}
.header_menu-desktop li {
    display: inline-block;
}
/* -- Main */
main {
    margin-top: 75px;
}
/* - service */

.service {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}

.cards_service> img {
    width: 100%;
}
/* - Planning */

.planning {
    padding: 50px 20px;
}
.card-planning img {
    width: 100%;    
}
.card-white {
    background-color: white;
    color: black;
    text-align: center;
    /* border-radius: 15%; */
    padding: 1rem;
}

/* - Testimonial */
.row_testimonial {
    text-align: center;
}

.row_testimonial> .card_testimonial {
    background-color: #9593e6;
    color: white;
    margin: 30px;
    padding: 30px;
}

/* -- Benefits */
.row_title {
    text-align: center;
}

.row_benefits{
    padding: 50px 30px;

}

.card_benefits {
    margin: 30px 0;
    
}

.benefits {
    background-color: #9593e6;
    color: white;;
}


/* -- About Us */

.row_about-us {
    padding: 50px 30px;
}








/* 

----- Responsive 

*/
/* -- Tablet */

@media screen and (min-width:768px) {
    /* service  */
    .service .col {
        width: calc(100% / 3);    
    }
    .service> .col:first-child {
        width: calc((100% / 3) * 2);
    }
    .card {
        height: 100%;
    }
    .cards_service {
        display: flex;
        justify-content: space-around;
    }

    /* Testimonials */
    .row_testimonial > .card_testimonial {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    .img_testimonial {
        width: 20%;
    }

    /* -- Benefits */
    .row_cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        gap: 30px;
    }
    .card_benefits {
        width: calc(( 100% - 30px ) / 2 )
    }
    
    /* -- About Us */
    .row_about-us {
        display: flex;
        gap: 30px;
        
    }
    .col__about-us {
        padding: 20px;
    }



}

/* -- Desktop */

@media screen and (min-width:1160px) {

    .header_menu-mobile {
        display: none;
    }
    .header_menu-desktop {
        display: block;
    }
    /* Planning */
    .planning {
        display: flex;
        gap: 60px;

    }
    .planning> .card-planning:last-child {
        align-self: flex-end;
    }
    .purple>.container {
        width: 1000px;
    }
    
    /* -- Benefits */
    .card_benefits {
        width: calc(( 100% - 60px ) / 3 )
    }


    /* -- About Us */
    .container_about-us {
        width: 1100px;
    }
}

