* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: currentColor;
}

.col {
    padding: 1rem;
    min-height: 50px;
    
}
/*
----------------- DEBUG 
*/

.border {
    border: 1px dashed red;
}



/* CLASSI SEMANTICHE */

/* -- Header */
header {
    background-color: #0084fd;
    color: white;   
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_menu-desktop {
    display: none;
}
.header_menu-desktop> ul {
    list-style: none;
}
.header_menu-desktop li {
    display: inline-block;
}
/* -- Main */
main {
    margin-top: 75px;
}
/* - service */

.service {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}
.card {
    padding: 1rem;
    background-color: #b5ddff;
}
.cards_header> img {
    width: 100%;
}







/* Responsive */

/* -- Desktop */

@media screen and (min-width:1160px) {

    .header_menu-mobile {
        display: none;
    }
    .header_menu-desktop {
        display: block;
    }

    
    
}

/* -- Tablet */

@media screen and (min-width:768px) {
    .service .col {
        width: calc(100% / 3);    
    }
    .service> .col:first-child {
        width: calc((100% / 3) * 2);
    }
    .card {
        height: 100%;
    }
    .cards_header {
        display: flex;
        justify-content: space-around;
    }

    
}