body {
    font-family: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: currentColor;
}

.col {
    padding: 1rem;
    min-height: 50px;
    
}

.purple {
    background-color: #9593e6;
    color: white;
}

img {
    width: 100%;
}

.card {
    padding: 1rem 1rem 0 1rem;
    background-color: #b5ddff;
    text-align: center;
    border-radius: 15px;   
}


.link {
    text-decoration: underline;
    
}



/* CLASSI SEMANTICHE */

/* 

-- Header 

*/
header {
    background-color: #0084fd;
    color: white;   
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header_menu-desktop {
    display: none;
    font-size: 1rem;
    font-weight: bold;
}
.header_menu-desktop> ul {
    list-style: none;
}
.header_menu-desktop li {
    display: inline-block;
    margin-left: 20px;
}
#button-menu {
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px;
}

.button {
    color: white;
    padding: 10px 40px;
    border-radius: 25px;
}


/*

-- Main

*/

main {
    margin-top: 75px;
}
/* - service */

.service {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}

.cards_service> img {
    width: 100%;
}
.cards_service {
    display: flex;
    text-align: left;
    line-height: 40px;
}

.service .card {
    font-weight: bold;
}
.service .card  h2 {
    color: #0084fd;
    margin-bottom: 30px;
}
.service .card p {
    color: #5a6e7f;
    margin-bottom: 30px;
}

.cards_service {
        display: flex;
        flex-direction: column;
        
    }
.cards_service>img {
        width: 80%;
        align-self: center;
     }

.button_service {
    background-color: #0084fd;
}
.service_text {
    margin-bottom: 50px;
    line-height: 3rem ;
}

.icon_service {
    font-size: 80px;
    color: #0084fd;
    margin-bottom: 30px;
}
/* - Planning */

.planning {
    padding: 50px 20px;
}
.card-planning img {
    width: 100%;    
}
.card-white {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 70px;
    padding: 2rem;
    margin: 30px 0;
}
.arrow_planning {
    background-color: #9792e4;
    padding: 20px;
    border-radius: 50%;
    margin-top: 30px;
}
.card-strategic> img {
    margin-bottom: 80px;
}

.card-strategic> h2 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 40px;
}
.card-app> h2 {
    
    font-weight: bolder;
    margin: 20px 0;
}

/* - Testimonial */
.row_testimonial {
    text-align: center;
    font-size: 1.5rem;
    line-height: 50px;
}


.row_testimonial> h1{
    color: #9792e4;
    font-weight: bold;
}

.row_testimonial> .card_testimonial {
    background-color: #9593e6;
    color: white;
    margin: 30px;
    padding: 30px;
    line-height: 70px;
    font-size: 1.3rem;
    font-weight: bold;
}

.img_testimonial> img {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/* -- Benefits */
.row_title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.row_benefits{
    padding: 50px 30px;
}
.card_benefits> * {
    margin-bottom: 30px;
}
.card_benefits {
    margin: 30px 0;
    line-height: 40px; 
    text-align: left;   
}
.card_benefits> h2,
.number_benefits {
    color: #9792e4;
    font-weight: bold;
    
}
.number_benefits {
    font-size: 4rem;
}

.benefits {
    background-color: #9593e6;
    color: white;;
}

.row_benefits .card_benefits{
    border-radius: 15px;
}

.card_benefits .button {
    background-color: #9792e4;
    margin-bottom: 0;
}


/* -- About Us */

.row_about-us {
    padding: 50px 30px;
}

.col__about-us{
    line-height: 40px;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.col__about-us> * {
    margin-bottom: 20px;
}

.col__about-us> h1 {
    font-size: 3rem;
    color: #9792e4;
    font-weight: bold;
}

.col__about-us img {
    width: 50%;
    border-radius: 50%;
}

.img_about-us {
    position: relative;
} 
.img_about-us> i {
    color: #9792e4;
    font-size: 4rem;
    position: absolute;
    top: 0;
    right: 50%;
} 

.help_about-us {
    font-size: 2rem;
    color: #9792e4;
}
.button_abuot-us {
    background-color: #9792e4;
    font-size: 1rem;
}






/* -- Get started */
.get-started {
    background-color: #9792e4;
    color: white;
}

.container_get-started {
    text-align: center;
    padding: 30px;
    line-height: 90px;
}

.container_get-started> h3 {
    color: #d5d4f4;
}

.container_get-started> h2 {
    font-size: 2rem;    
}

.container_get-started> strong {
    font-size: 5rem;
    color: #fdc15f;    
}
.container_get-started .container_small {
    line-height: 30px;
}

.button_get-started {
    color: #9792e4;
    background-color: white;
    padding: 20px 90px;
    border-radius: 35px;
    font-size: 1.3rem;
    font-weight: bold;
}




/* 

---- footer

*/
footer {
    background-color: #333333;
    color: white;
    padding: 50px;
    text-align: center;

}
 .container_footer {
    line-height: 20px;
}
.container_footer .link {
    color: #9792e4;
}
.container_footer>* {
    margin-bottom: 50px;
}
/* 

----- Responsive 

*/
/* -- Tablet */

@media screen and (min-width:768px) {
    /* service  */
    .service .col {
        width: calc(100% / 3);    
    }
    .service> .col:first-child {
        width: calc((100% / 3) * 2);
    }
    .card {
        height: 100%;
    }
    
    .cards_service > img {
        align-self: flex-start;
        width: 50%;
    }

    /* Testimonials */
    .row_testimonial > .card_testimonial {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        margin-left: 0;
        margin-right: 0;
    }
    .img_testimonial {
        width: calc( 100% / 3);
        display: flex;
    }
    .text_testimonial {
        width: calc(( 100% / 3) * 2);
        line-height: 50px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    
    /* -- Benefits */
    .row_cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        gap: 30px;
    }
    .card_benefits {
        width: calc(( 100% - 30px ) / 2 );
        margin: 0;
    }
    .card-white {
        margin: 0;
    }
    
    /* -- About Us */
    .row_about-us {
        display: flex;
        gap: 30px;
        
    }
    .col__about-us {
        padding: 20px;
        width: 50%
    }
    .img_about-us> img {
        width: 100%;
    }
    .img_about-us> i {
        right: 0;
    }


    /* Get started */
    .container_get-started {
        width: 600px;
        margin: 0 auto;
    }
    /* footer */

    .container_small {
        width: 400px;
        margin: 50px auto;
    }

}

/* -- Desktop */

@media screen and (min-width:1160px) {

    .header_menu-mobile {
        display: none;
    }
    .header_menu-desktop {
        display: block;
    }

    /* Service */
    .cards_service {
        display: flex;
        flex-direction: row;
       
    }
    .cards_service > img {
            align-self: flex-end;
            width: 80%;
    }
    .card-white {
        margin-bottom: 0;
    }
    /* Planning */
    .planning {
        display: flex;
        gap: 60px;

    }
    .planning> .card-planning:last-child {
        align-self: flex-end;
    }

    .card-planning {
        display: flex;
        flex-direction: column;
       
    }
    .card-white {
        align-items: center;
        
    }
    .purple>.container {
        width: 1000px;
    }
    /* testimonials */

    .img_testimonial {
        width: calc( 100% / 4);
        
    }
    .text_testimonial {
        width: calc(( 100% / 4) * 3);
        
    }

    /* -- Benefits */
    .card_benefits {
        width: calc(( 100% - 60px ) / 3 )
    }


    /* -- About Us */
    .container_about-us {
        width: 1100px;
    }
    .col_text {
        width: calc(( 100% / 3) * 2);
    }

    .col_img {
        width: calc( 100% / 3);
    }
    /* Get started */
    .container_get-started {
        width: 800px;
    }

}

